USE [master]
GO
/****** Object:  Database [CuentasContables]    Script Date: 10/11/2023 16:15:19 ******/
CREATE DATABASE [CuentasContables]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuentasContables', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CuentasContables.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuentasContables_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CuentasContables_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuentasContables].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuentasContables]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 10/11/2023 16:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosContables]    Script Date: 10/11/2023 16:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosContables](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCuenta] [int] NULL,
	[monto] [int] NULL,
	[tipo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cuentas] ON 

INSERT [dbo].[Cuentas] ([id], [descripcion]) VALUES (1, N'Cuenta E')
INSERT [dbo].[Cuentas] ([id], [descripcion]) VALUES (2, N'Cuenta C')
INSERT [dbo].[Cuentas] ([id], [descripcion]) VALUES (3, N'Cuenta A')
SET IDENTITY_INSERT [dbo].[Cuentas] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrosContables] ON 

INSERT [dbo].[RegistrosContables] ([id], [idCuenta], [monto], [tipo]) VALUES (1, 1, 2000, 0)
INSERT [dbo].[RegistrosContables] ([id], [idCuenta], [monto], [tipo]) VALUES (5, 2, 2900, 0)
INSERT [dbo].[RegistrosContables] ([id], [idCuenta], [monto], [tipo]) VALUES (8, 3, 100, 0)
SET IDENTITY_INSERT [dbo].[RegistrosContables] OFF
GO
ALTER TABLE [dbo].[RegistrosContables]  WITH CHECK ADD FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuentas] ([id])
GO
USE [master]
GO
